***Color manual***

<div class="alert alert-block alert-success">
<b>Green - Libraries</b>
</div>

<div class="alert alert-block alert-info">
<b>Blue - Information</b>
</div>

<div class="alert alert-block alert-danger">
<b>Red - Problems</b>
</div>

***

<div class="alert alert-block alert-success">
<b>Import libraries</b>
</div>

In [1]:
import chart_studio
import pandas as pd
import plotly.graph_objs as go
import chart_studio.plotly as py

chart_studio.tools.set_config_file(world_readable = True, sharing = 'public')

<div class="alert alert-block alert-info">
<b>Load the Data, set index and info about data</b>
</div>

In [2]:
df = pd.read_excel('Cestas.xlsx', sheet_name = '6 meses a 3 anos')
df.set_index('alimento', inplace = True)
df.sort_index(inplace = True)
df

,quantidade,kg/unidade,preço/unidade,kg/aluno,preço/aluno,kg total,preço total
alimento,,,,,,,
Arroz,1,1.00,2.89,1.00,2.89,1998.00,5774.22
Feijão,1,1.00,6.29,1.00,6.29,1998.00,12567.42
Leite,4,0.20,4.69,0.80,18.76,1598.40,37482.48
Macarrão,1,0.50,1.99,0.50,1.99,999.00,3976.02
Mucilon,2,0.23,4.89,0.46,9.78,919.08,19540.44

In [3]:
df1 = pd.read_excel('Cestas.xlsx', sheet_name = '3 anos a 6 anos')
df1.set_index('alimento', inplace = True)
df1.sort_index(inplace = True)
df1

,quantidade,kg/unidade,preço/unidade,kg/aluno,preço/aluno,kg total,preço total
alimento,,,,,,,
Arroz,2,1.0,2.89,2.0,5.78,4316.0,12473.24
Açucar,1,1.0,2.29,1.0,2.29,2158.0,4941.82
Biscoito cracker,1,0.4,4.49,0.4,4.49,863.2,9689.42
Biscoito maria,1,0.4,5.89,0.4,5.89,863.2,12710.62
Feijão,1,1.0,6.29,1.0,6.29,2158.0,13573.82
Leite,4,0.2,4.69,0.8,18.76,1726.4,40484.08
Macarrão,2,0.5,1.99,1.0,3.98,2158.0,8588.84
Massa de milho,2,0.5,1.49,1.0,2.98,2158.0,6430.84
Sal,1,1.0,0.79,1.0,0.79,2158.0,1704.82
Óleo,1,0.9,3.59,0.9,3.59,1942.2,7747.22

In [4]:
df2 = pd.read_excel('Cestas.xlsx', sheet_name = '6 anos a 15 anos')
df2.set_index('alimento', inplace = True)  
df2.sort_index(inplace = True)
df2

,quantidade,kg/unidade,preço/unidade,kg/aluno,preço/aluno,kg total,preço total
alimento,,,,,,,
Arroz,2,1.0,2.89,2.0,5.78,19382.0,56013.98
Açucar,1,1.0,2.29,1.0,2.29,9691.0,22192.39
Biscoito cracker,1,0.4,4.49,0.4,4.49,3876.4,43512.59
Biscoito maria,1,0.4,5.89,0.4,5.89,3876.4,57079.99
Charque traseiro,1,0.5,12.29,0.5,12.29,4845.5,119102.39
Farinha de mandioca,1,1.0,2.99,1.0,2.99,9691.0,28976.09
Feijão,1,1.0,6.29,1.0,6.29,9691.0,60956.39
Macarrão,2,0.5,1.99,1.0,3.98,9691.0,38570.18
Massa de milho,2,0.5,1.49,1.0,2.98,9691.0,28879.18
Sal,1,1.0,0.79,1.0,0.79,9691.0,7655.89
Óleo,1,0.9,3.59,0.9,3.59,8721.9,34790.69

<div class="alert alert-block alert-info">
<b>Plot bar graph of all dataframes with plotly go</b>
</div>

In [5]:
fig = go.Figure()

fig.add_trace(go.Bar(x = df.index, y = df['preço total'], 
    name = '6 meses a 3 anos', 
    marker_color = 'rgb(200,50,50)',
    marker_line_color = 'rgb(1,1,1)',
    marker_line_width = 2))

fig.add_trace(go.Bar(x = df1.index, y = df1['preço total'], 
    name = '3 anos a 6 anos', 
    marker_color = 'rgb(50,200,50)',
    marker_line_color = 'rgb(1,1,1)',
    marker_line_width = 2))

fig.add_trace(go.Bar(x = df2.index, y = df2['preço total'],
    name = '6 anos a 15 anos',
    marker_color ='rgb(50,50,200)',
    marker_line_color = 'rgb(1,1,1)',
    marker_line_width = 2))

fig.update_layout(barmode = 'stack', 
    title_text = 'Cestas', 
    title_x = 0.5,
    title_y = 0.9,
    xaxis_title = 'Alimentos',
    yaxis_title = 'Preço total',
    paper_bgcolor = 'rgba(1,1,1,1)',
    plot_bgcolor = 'rgba(1,1,1,1)',
    font = dict(
        family = 'Helvetica, Helvetica',
        size = 15,
        color = 'white'
    )
)

fig.update_yaxes(hoverformat = '.2f', showgrid = False)

py.iplot(fig, filename = 'Cestas', auto_open = True)